# Exercícios

## 1. Faturamento do Melhor e do Pior Mês do Ano

Qual foi o valor de vendas do melhor mês do Ano?
E valor do pior mês do ano?

In [7]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]

vendas_ano = vendas_1sem + vendas_2sem
print(vendas_ano)

maxVenda = max(vendas_ano)
i = vendas_ano.index(maxVenda)
melhorMes = meses[i]
print('O melhor mês do ano foi {}, com {} em vendas'.format(melhorMes, maxVenda))

minVenda = min(vendas_ano)
i = vendas_ano.index(minVenda)
piorMes = meses[i]
print('O pior mês do ano foi {}, com {} em vendas'.format(piorMes, minVenda))

[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 49051, 9650]
O melhor mês do ano foi nov, com 49051 em vendas
O pior mês do ano foi dez, com 9650 em vendas

## 2. Continuação

Agora relacione as duas listas para printar 'O melhor mês do ano foi {} com {} vendas' e o mesmo para o pior mês do ano.

Calcule também o faturamento total do Ano e quanto que o melhor mês representou do faturamento total.

Obs: Para o faturamento total, pode usar a função sum(lista) que soma todos os itens de uma lista

In [26]:
faturamentoAno = sum(vendas_ano)
represent = (maxVenda / faturamentoAno)

texto = ('O faturamento do ano foi de R$ {:_.2f}, onde o mês de novembro representou {:.2%}, desse total'.format(faturamentoAno, represent))

print(texto.replace('.',',').replace('_', '.'))

O faturamento do ano foi de R$ 261.486,00, onde o mês de novembro representou 18,76%, desse total

## 3. Crie uma lista com o top 3 valores de vendas do ano (sem fazer "no olho")

Dica: o método remove retira um item da lista.

In [27]:
top3 = []

vendas_ano.sort(reverse = True)
print(vendas_ano)

top3 = vendas_ano[:3]
print(top3)

[49051, 29000, 25000, 22200, 20120, 19900, 19850, 17750, 17540, 15870, 15555, 9650]
[49051, 29000, 25000]

In [35]:

top3 = []

vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]

vendas_ano = vendas_1sem + vendas_2sem



#### -----------------------------------------

maior_valor = max(vendas_ano)
top3.append(maior_valor)
vendas_ano.remove(maior_valor)

maior_valor = max(vendas_ano)
top3.append(maior_valor)
vendas_ano.remove(maior_valor)

maior_valor = max(vendas_ano)
top3.append(maior_valor)
vendas_ano.remove(maior_valor)


print(top3)

[49051, 29000, 25000]

In [34]:

top3 = []

vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]

vendas_ano = vendas_1sem + vendas_2sem



#### -----------------------------------------

vendas_ano.sort(reverse=True)
top3.append(vendas_ano.pop(0))
top3.append(vendas_ano.pop(0))
top3.append(vendas_ano.pop(0))
print(top3)

[49051, 29000, 25000]